<h1>BATTLE GAME</h1>
<h2>Enter your names to begin</h2>

<form method="post" action="/names">
  <input placeholder="Player 1" name=p1 type=text />
  <input placeholder="Player 2" name=p2 type=text />
  <input type="submit" value="Submit" />
</form>
